{% extends 'base.html' %}
{% load static %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<!-- Page Content -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Пост</h4>
                        <h2>Лучшие новости каждый день!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <!-- Начало поста -->
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    {% if post.photo %}
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="{{ post.photo.url }}"
                                             alt="{{ post.title }}"
                                        ></a>
                                    {% endif %}
                                </div>
                                <div class="down-content">
                                     <span><a
                                             href="{{ post.category.get_absolute_url }}"
                                             style="color: #f48840;"> {{ post.category }}
                                    </a></span>
                                    <a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
                                    <ul class="post-info">
                                        <li><a href="#">{{ post.author }}</a></li>
                                        <li><a href="#">{{ post.created_at|date:"d.m.Y" }}</a></li>
                                        <li><a href="#">{{ post.views }}</a> <i class="fa fa-eye"></i> </li>
                                    </ul>
                                    <p>{{ post.content|linebreaksbr }}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                {% if post.tags.exists %}
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    {% for tag in post.tags.all %}
                                                    <li><a href="{{ tag.get_absolute_url }}"> {{ tag.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                {%endif%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% include 'blog/sidebar.html' %}
        </div>
    </div>
</section>


{% endblock %}
